.main {
    height: 60vh;
    position: relative;
    background-color: $color-black;
    font-family: $font-family-primary;
    &__content {
        top: 25%;
        padding-left: 8em;
        align-self: center;
        position: relative;
    }
    &__heading {
        font-size: 5em;
        line-height: 1em; 
        color: $color-white;
    }
}